xsd/C.xsd

<?xml version="1.0" encoding="WINDOWS-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="xsd/includes/types.xsd" />
	<xs:include schemaLocation="xsd/includes/common.xsd" />
	<xs:element name="ZL_LIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ZGLV" maxOccurs="1" type="zglv_type" />
				<xs:element name="SCHET" maxOccurs="1" type="schet_type" />
				<xs:element name="ZAP" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="N_ZAP" type="integer-type" />
							<xs:element name="PR_NOV" type="xs:string" />
							<xs:element name="PACIENT" type="pacient_type" />
							<xs:element name="Z_SL" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IDCASE" type="integer-type" />
										<xs:element name="USL_OK" type="xs:string" />
										<xs:element name="VIDPOM" type="xs:string" />
										<xs:element name="FOR_POM" type="xs:string" />
										<xs:element name="NPR_MO" minOccurs="0" type="xs:string" />
										<xs:element name="NPR_DATE" minOccurs="0" type="xs:date" />
										<xs:element name="LPU" type="xs:string" />
										<xs:element name="DATE_Z_1" type="xs:date" />
										<xs:element name="DATE_Z_2" type="xs:date" />
										<xs:element name="KD_Z" minOccurs="0" type="xs:string" />
										<xs:element name="VNOV_M" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
										<xs:element name="RSLT" type="xs:string" />
										<xs:element name="ISHOD" type="xs:string" />
										<xs:element name="OS_SLUCH" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
										<xs:element name="VB_P" minOccurs="0" type="xs:string" />
										<xs:element name="SL" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SL_ID" type="xs:string" />
													<xs:element name="LPU_1" minOccurs="0" type="xs:string" />
													<xs:element name="PODR" minOccurs="0" type="xs:string" />
													<xs:element name="PROFIL" type="xs:string" />
													<xs:element name="PROFIL_K" minOccurs="0" type="xs:string" />
													<xs:element name="DET" type="xs:string" />
													<xs:element name="P_CEL" minOccurs="0" type="xs:string" />
													<xs:element name="NHISTORY" type="xs:string" />
													<xs:element name="P_PER" minOccurs="0" type="xs:string" />
													<xs:element name="DATE_1" type="xs:date" />
													<xs:element name="DATE_2" type="xs:date" />
													<xs:element name="KD" minOccurs="0" type="xs:string" />
													<xs:element name="DS0" minOccurs="0" type="xs:string" />
													<xs:element name="DS1" type="xs:string" />
													<xs:element name="DS2" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
													<xs:element name="DS3" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
													<xs:element name="C_ZAB" minOccurs="0" type="xs:string" />
													<xs:element name="DS_ONK" type="xs:string" />
													<xs:element name="DN" minOccurs="0" type="xs:string" />
													<xs:element name="CODE_MES1" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
													<xs:element name="CODE_MES2" minOccurs="0" type="xs:string" />
													<xs:element name="NAPR" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="NAPR_DATE" type="xs:date" />
																<xs:element name="NAPR_MO" minOccurs="0" type="xs:string" />
																<xs:element name="NAPR_V" type="xs:string" />
																<xs:element name="MET_ISSL" minOccurs="0" type="xs:string" />
																<xs:element name="NAPR_USL" minOccurs="0" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="CONS" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PR_CONS" type="xs:string" />
																<xs:element name="DT_CONS" minOccurs="0" type="xs:date" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ONK_SL" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DS1_T" type="xs:string" />
																<xs:element name="STAD" minOccurs="0" type="xs:string" />
																<xs:element name="ONK_T" minOccurs="0" type="xs:string" />
																<xs:element name="ONK_N" minOccurs="0" type="xs:string" />
																<xs:element name="ONK_M" minOccurs="0" type="xs:string" />
																<xs:element name="MTSTZ" minOccurs="0" type="xs:string" />
																<xs:element name="SOD" minOccurs="0" type="xs:string" />
																<xs:element name="K_FR" minOccurs="0" type="xs:string" />
																<xs:element name="WEI" minOccurs="0" type="xs:string" />
																<xs:element name="HEI" minOccurs="0" type="xs:string" />
																<xs:element name="BSA" minOccurs="0" type="xs:string" />
																<xs:element name="B_DIAG" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="DIAG_DATE" type="xs:date" />
																			<xs:element name="DIAG_TIP" type="xs:string" />
																			<xs:element name="DIAG_CODE" type="xs:string" />
																			<xs:element name="DIAG_RSLT" minOccurs="0" type="xs:string" />
																			<xs:element name="REC_RSLT" minOccurs="0" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="B_PROT" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PROT" type="xs:string" />
																			<xs:element name="D_PROT" type="xs:date" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ONK_USL" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="USL_TIP" type="xs:string" />
																			<xs:element name="HIR_TIP" minOccurs="0" type="xs:string" />
																			<xs:element name="LEK_TIP_L" minOccurs="0" type="xs:string" />
																			<xs:element name="LEK_TIP_V" minOccurs="0" type="xs:string" />
																			<xs:element name="LEK_PR" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="REGNUM" type="xs:string" />
																						<xs:element name="CODE_SH" type="xs:string" />
																						<xs:element name="DATE_INJ" minOccurs="1" maxOccurs="unbounded" type="xs:date" />
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="PPTR" minOccurs="0" type="xs:string" />
																			<xs:element name="LUCH_TIP" minOccurs="0" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="KSG_KPG" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="N_KSG" minOccurs="0" type="xs:string" />
																<xs:element name="VER_KSG" type="xs:string" />
																<xs:element name="KSG_PG" type="xs:string" />
																<xs:element name="N_KPG" minOccurs="0" type="xs:string" />
																<xs:element name="KOEF_Z" type="xs:string" />
																<xs:element name="KOEF_UP" type="xs:string" />
																<xs:element name="BZTSZ" type="xs:string" />
																<xs:element name="KOEF_D" type="xs:string" />
																<xs:element name="KOEF_U" type="xs:string" />
																<xs:element name="CRIT" minOccurs="0" maxOccurs="unbounded" />
																<xs:element name="SL_K" type="xs:string" />
																<xs:element name="IT_SL" minOccurs="0" type="xs:string" />
																<xs:element name="SL_KOEF" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="IDSL" type="xs:string" />
																			<xs:element name="Z_SL" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="REAB" minOccurs="0" type="xs:string" />
													<xs:element name="PRVS" type="xs:string" />
													<xs:element name="VERS_SPEC" type="xs:string" />
													<xs:element name="IDDOKT">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="11" />
																<xs:minLength value="11" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ED_COL" minOccurs="0" type="xs:string" />
													<xs:element name="TARIF" type="money-type" minOccurs="0" />
													<xs:element name="SUM_M" type="money-type" />
													<xs:element name="USL" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="IDSERV" type="xs:string" />
																<xs:element name="LPU" type="xs:string" />
																<xs:element name="LPU_1" minOccurs="0" type="xs:string" />
																<xs:element name="PODR" minOccurs="0" type="xs:string" />
																<xs:element name="PROFIL" type="xs:string" />
																<xs:element name="VID_VME" minOccurs="0" type="xs:string" />
																<xs:element name="DET" type="xs:string" />
																<xs:element name="DATE_IN" type="xs:date" />
																<xs:element name="DATE_OUT" type="xs:date" />
																<xs:element name="DS" type="xs:string" />
																<xs:element name="CODE_USL" type="xs:string" />
																<xs:element name="KOL_USL" type="xs:string" />
																<xs:element name="TARIF" type="money-type" minOccurs="0" />
																<xs:element name="SUMV_USL" type="money-type" />
																<xs:element name="PRVS" type="xs:string" />
																<xs:element name="CODE_MD">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="11" />
																			<xs:minLength value="11" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="NPL" minOccurs="0" type="xs:string" />
																<xs:element name="COMMENTU" minOccurs="0" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="COMENTSL" minOccurs="0" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
											<xs:unique name="uniqueIDSERV">
												<xs:selector xpath="./USL" />
												<xs:field xpath="IDSERV" />
											</xs:unique>
										</xs:element>
										<xs:element name="IDSP" type="xs:string" />
										<xs:element name="SUMV" type="money-type" />
										<xs:element name="OPLATA" minOccurs="0" />
										<xs:element name="SUMP" minOccurs="0" type="money-type" />
										<xs:element name="SANK" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="S_CODE" type="xs:string" />
													<xs:element name="S_SUM" type="money-type" />
													<xs:element name="S_TIP" type="xs:string" />
													<xs:element name="SL_ID" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
													<xs:element name="S_OSN" minOccurs="0" type="xs:string" />
													<xs:element name="DATE_ACT" type="xs:date" />
													<xs:element name="NUM_ACT" type="xs:string" />
													<xs:element name="CODE_EXP" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
													<xs:element name="S_COM" minOccurs="0" type="xs:string" />
													<xs:element name="S_IST" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SANK_IT" minOccurs="0" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
								<xs:unique name="uniqueSL_ID">
									<xs:selector xpath="./SL" />
									<xs:field xpath="SL_ID" />
								</xs:unique>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
					<xs:unique name="uniqueIDCASE">
						<xs:selector xpath="./Z_SL" />
						<xs:field xpath="IDCASE" />
					</xs:unique>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="uniqueN_ZAP">
			<xs:selector xpath="./ZAP" />
			<xs:field xpath="N_ZAP" />
		</xs:unique>
	</xs:element>
</xs:schema>